@model IEnumerable<BookShop.Models.Category>

@{
    ViewData["Title"] = "لیست دسته‌بندی‌ها";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card p-0">
    <div class="card-header bg-light">
        لیست دسته‌بندی‌ها
    </div>
    <p class="m-2">
        <a asp-action="Create" class="btn btn-success col-md-2">ایجاد دسته‌بندی</a>
    </p>
    <div class="card-body">

        <table class="table text-center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.category)
                    </th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.category.CategoryName)
                    </td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.CategoryID" class="btn btn-info btn-icon"><i class="fa fa-edit text-white"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.CategoryID" class="btn btn-danger btn-icon"><i class="fa fa-trash text-white"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>