@model IEnumerable<BookShop.Models.City>


@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success alert-dismissible">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger alert-dismissible">
                @TempData["error"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="card">
            <div class="card-header bg-light">
                لیست شهر‌ها
            </div>
            <div class="card-body">
                <form method="post">
                    <p class="col-md-4 ">
                        <a asp-action="Create" class="btn btn-primary btn-rounded btn-block">
                            <i class="fa mx-2 fa-user-plus"></i>افزودن استان جدید
                        </a>
                    </p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>نام شهر</th>
                                <th>نام استان</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CityName</td>
                                    <td>@item.province.ProvinceName</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.CityID" class="btn btn-info btn-icon btn-rounded">
                                            ویرایش
                                        </a>
                                        <a asp-route-id="@item.CityID" asp-action="Delete" class="btn btn-danger btn-icon btn-rounded">
                                            حذف
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

