@model ReflectionIT.Mvc.Paging.PagingList<UsersViewModel>
@using ReflectionIT.Mvc.Paging;
@inject BookShop.Areas.Identity.Data.IApplicationUserManager userManager

@{
    ViewData["Title"] = "مدیریت کاربران";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.Msg == "Success" || ViewBag.Msg == "SendEmail")
{
    <div class="alert alert-success alert-dismissible">
        <p>عملیات با موفقیت انجام شد.</p>
        <button class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="card">
    <div id="placeholder"></div>
    <div class="card-header bg-light">
        لیست کاربران
    </div>
    <div class="card-body">
        <p>
            <a class="btn btn-primary" href="/Identity/Account/Register"><i class="fa fa-plus"></i> | افزودن کاربر</a>
            <a class="btn btn-success" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                ارسال ایمیل
            </a>
        </p>

        <form asp-action="SendEmail">
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="custom-control form-group custom-checkbox d-inline-block">
                        <input type="checkbox" class="custom-control-input" id="All" />
                        <label class="custom-control-label" for="All">ارسال ایمیل برای همه کاربران</label>
                    </div>
                    <input type="text" class="form-control form-group" name="subject" placeholder="موضوع ایمیل" />
                    <textarea placeholder="متن ایمیل  را بنویسید ...." class="form-control form-group @*summernote*@"
                              rows="5" name="message">
                    @*<p style="text-align:left;">ایمیل خود را بنویسید...</p>*@
                            </textarea>
                    <input type="submit" value="ارسال ایمیل" class="btn btn-primary float-left" />
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">انتخاب</th>
                            <th class="text-center">
                                @Html.SortableHeaderFor(model => model.Image)
                            </th>
                            <th class="text-center">
                                @Html.SortableHeaderFor(model => model.FirstName)
                            </th>
                            <th class="text-center">
                                @Html.SortableHeaderFor(model => model.LastName)
                            </th>
                            <th class="text-center">
                                @Html.SortableHeaderFor(model => model.UserName)
                            </th>
                            <th class="text-center">
                                @Html.SortableHeaderFor(model => model.Mobile)
                            </th>
                            <th class="text-center">
                                @Html.SortableHeaderFor(model => model.Email)
                            </th>
                            <th class="text-center">
                                @Html.SortableHeaderFor(model => model.Roles)
                            </th>
                            <th class="text-center">
                                @Html.SortableHeaderFor(model => model.IsActive)
                            </th>
                            <th class="text-center">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    <div class="custom-control custom-checkbox d-inline-block">
                                        <input type="checkbox" class="custom-control-input child" value="@item.Email" name="emails" id="@item.UserID" />
                                        <label class="custom-control-label" for="@item.UserID"></label>
                                    </div>
                                </td>
                                <td class="text-center">
                                    @if (item.ImagePath != null)
                                    {
                                        <img src="~/imgs/@item.ImagePath" class="img-fluid rounded-circle"height="80" width="40"/>
                                    }

                                    else
                                    {
                                        <img src="~/imgs/UserPic.png" height="40" />
                                    }
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Mobile)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td class="text-center">
                                    @foreach (var role in item.Roles)
                                    {
                                        <span class="badge badge-primary">
                                            @role
                                        </span>
                                    }

                                </td>
                                <td class="text-center">
                                    <span class="badge @(item.IsActive==true?"badge-success":"badge-danger")">
                                        @(item.IsActive == true ? "فعال" : "غیرفعال")
                                    </span>
                                </td>
                                <td class="text-center">
                                    <a asp-action="Details" asp-route-id="@item.UserID" class="btn btn-primary btn-icon">
                                        <i class="fa fa-user"></i> | مدیریت کاربر
                                    </a>

                                    <a asp-action="Edit" asp-route-id="@item.UserID" class="btn btn-success btn-icon">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.UserID" class="btn btn-danger btn-icon">
                                        <i class="fa fa-trash"></i>
                                    </a>


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <nav>
                    @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                </nav>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.summernote').summernote({
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear', 'strikethrough', 'style']],
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['forecolor', ['forecolor']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['link', 'picture', 'hr']],
                ['view', ['fullscreen', 'codeview']]
            ],

            height: 300,
            lang: 'fa-IR'
        });
    });

    $(function () {
        $("#All").on('change', function () {
            $(".child").prop('checked', $(this).prop('checked'));
        });
    });

</script>


